:root {
  --white-color: #fff;
  --text-color: #748ba0;
  --main-color: #0c1d2e;
  --accent-color: #fa5555;
  --border-color: #eeeeee;
  --main-turquoise: #00b0b9;
  --main-background: #f6f9f9;
  --input-background: #fbf8f2;
  --image-background: #f7f7fd;

  --header-height: 50px;
  --footer-height: 70px;

  --screen-width: 650px;
}
